@using MilitaryProject.Domain.Entity
@using MilitaryProject.Domain.ViewModels.Request
@model List<Request>

@{
    ViewData["Title"] = "Requests";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center">Requests</h2>
            <table class="table">
                <a class="btn btn-success" asp-controller="Request" asp-action="Create">Create</a>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Details</th>
                        <th>Edit</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var request in Model)
                    {
                                <tr>
                                        <td>@request.ID</td>
                                        <td><a class="btn btn-outline-primary" asp-controller="Request" asp-action="GetRequest" asp-route-id="@request.ID">Details</a></td>
                                        <td><a class="btn btn-primary" asp-controller="Request" asp-action="Update" asp-route-id="@request.ID">Edit</a></td>
                                        <td><a class="btn btn-danger" asp-controller="Request" asp-action="Delete" asp-route-id="@request.ID">Delete</a></td>
                                </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
