﻿@using MilitaryProject.Domain.Entity
@using MilitaryProject.Domain.ViewModels.Request
@model Request

@{
    ViewData["Title"] = "Edit Request";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h1 class="card-header text-center">Edit Request</h1>
                <div class="card-body">
                    <form asp-controller="Request" asp-action="UpdateRequest" method="post">
                        <input type="hidden" asp-for="ID" />
                        <div class="form-group">
                            <label asp-for="BrigadeID">Brigade ID:</label>
                            <input asp-for="BrigadeID" class="form-control" />
                            <span asp-validation-for="BrigadeID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="WeaponID">Weapon ID:</label>
                            <input asp-for="WeaponID" class="form-control" />
                            <span asp-validation-for="WeaponID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AmmunitionID">Ammunition ID:</label>
                            <input asp-for="AmmunitionID" class="form-control" />
                            <span asp-validation-for="AmmunitionID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="WeaponQuantity">Weapon Quantity:</label>
                            <input asp-for="WeaponQuantity" class="form-control" />
                            <span asp-validation-for="WeaponQuantity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AmmunitionQuantity">Ammunition Quantity:</label>
                            <input asp-for="AmmunitionQuantity" class="form-control" />
                            <span asp-validation-for="AmmunitionQuantity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Message">Message:</label>
                            <input asp-for="Message" class="form-control" />
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RequestStatus">Request Status:</label>
                            <input asp-for="RequestStatus" class="form-control" />
                            <span asp-validation-for="RequestStatus" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
