<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MilitaryProject</title>
    <link rel="icon" type="image/png" href="/img/army-512.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MilitaryProject.styles.css" asp-append-version="true" />
</head>

@{
    bool auth = User.Identity.IsAuthenticated;
    var name = User.Identity.Name;
}

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MilitaryProject</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" style="display:flex; justify-content: space-between">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Brigade" asp-action="GetAll">Brigades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Weapon" asp-action="GetWeapons">Weapons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Request" asp-action="GetRequests">Requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="MilitaryRoute" asp-action="GetAll">Military Routes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Ammunition" asp-action="GetAll">Ammunitions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="UserItems" asp-action="GetAll">UserItems</a>
                        </li>
                    </ul>
                    @if (!auth)
                    {
                        <ul class="navbar-nav ml-auto align-items-center">
                            <li class="nav-item">
                                <a class="btn btn-primary" asp-controller="User" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-primary" style="margin-left: 10px" asp-controller="User" asp-action="SignUp">Register</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav ml-auto align-items-center">
                            <li class="nav-item">
                                <strong>@name</strong>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-danger" style="margin-left:10px" asp-controller="User" asp-action="Logout">Logout</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        @{
            var alertMessage = TempData["AlertMessage"];
            var responseStatus = TempData["ResponseStatus"];

            @if (responseStatus == "Error")
            {
                <div id="errorAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
                    @alertMessage
                </div>
            }
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MilitaryProject
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
