@using MilitaryProject.Domain.ViewModels.User;
@model SignupViewModel

@{
    ViewData["Title"] = "2FA Auth";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h1 class="card-header text-center">Register</h1>
                <div class="card-body">
                    <form asp-controller="User" asp-action="SignupTwoFA">
                        <input asp-for="Email" hidden />
                        <input asp-for="Password" value="@Model.Password" hidden />
                        <input asp-for="QrCode" value="@Model.QrCode" hidden />
                        <input asp-for="Name" hidden />
                        <input asp-for="Lastname" hidden />
                        <input asp-for="Age" hidden />
                        <div class="form-group text-center">
                            <label for="QrCode">Scan the QR Code:</label>
                            <br />
                            <img src="@Model.QrCode" width="250" alt="QR Code" class="img-fluid">
                        </div>
                        <div class="form-group mt-3">
                            <label for="TwoFactorSecretKey">Enter Two-Factor Authentication Code:</label>
                            <input asp-for="TwoFactorSecretKey" type="text" class="form-control">
                            <span asp-validation-for="TwoFactorSecretKey" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Register</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p class="mb-0">Don't have an account? <a asp-controller="User" asp-action="SignUp">Register</a></p>
                </div>
            </div>
        </div>
    </div>
</div>