@{
    ViewData["Title"] = "Home Page";
    bool authenticated = User.Identity.IsAuthenticated;
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Military App!</h1>
    <p class ="display-3">We hope that this system will help you to effectively divide your equipment and it will structure the work of your team.</p>
</div>