@using MilitaryProject.Domain.ViewModels.Stats
@model List<StatsAmmunitionViewModel>

@{
    ViewData["Title"] = "Ammunition";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center">Ammunition</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Count</th>
                        <th>Needed count</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ammunition in Model)
                    {
                        <tr>
                            <td>@ammunition.AmmunitionName</td>
                            <td>@ammunition.AmmunitionCount</td>
                            <td>@ammunition.NeededAmmunitionCount</td>
                            <td><a class="btn btn-outline-primary" asp-controller="StatsAmmunition" asp-action="GetById" asp-route-ammunitionID="@ammunition.AmmunitionID">Details</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
