@using MilitaryProject.Domain.ViewModels.Stats
@model List<StatsWeaponViewModel>

@{
    ViewData["Title"] = "Weapons";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center">Weapons</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Count</th>
                        <th>Needed count</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var weapon in Model)
                    {
                        <tr>
                            <td>@weapon.WeaponName</td>
                            <td>@weapon.WeaponCount</td>
                            <td>@weapon.NeededWeaponCount</td>
                            <td><a class="btn btn-outline-primary" asp-controller="StatsWeapon" asp-action="GetById" asp-route-weaponID="@weapon.WeaponID">Details</a></td>     
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
