@model MilitaryProject.Domain.ViewModels.Brigade.BrigadeViewModel

@{
    ViewData["Title"] = "Create Brigade";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h1 class="card-header text-center">Create Brigade</h1>
                <div class="card-body">
                    <form asp-controller="Brigade" asp-action="Create" method="post">
                        <div class="form-group">
                            <label asp-for="Name">Name:</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>