@using MilitaryProject.Domain.Entity
@using MilitaryProject.Domain.ViewModels.Brigade
@model List<Brigade>

@{
    ViewData["Title"] = "GetById";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center">Brigades</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var brigade in Model)
                    {
                        <tr>
                            <td>@brigade.Name</td>
                            <td><a asp-controller="Brigade" asp-action="Edit" asp-route-id="@brigade.ID">Edit</a></td>
                            <td><a asp-controller="Brigade" asp-action="Delete" asp-route-id="@brigade.ID">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
